.ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
}

.form-control-feedback {
    /* position: absolute;
    top: .5rem;
    right: 1.5rem;
    z-index: 2;
    display: block;
    text-align: center;
    pointer-events: none; */
    color: red;
}