<h4><small>Formulario de carga de Clientes</small></h4>
<hr>

<form [formGroup]="clienteForm" (ngSubmit)="guardarForm()">

    <!-- [ngClass]="{'has-danger': clienteForm.get('nombre').invalid}" [ngClass]="{'was-validated': clienteForm.get('nombre').valid}" -->
    <div class="form-group row">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-md-8">

            <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" is-invalid>
            <div *ngIf="clienteForm.get('nombre').errors?.required && clienteForm.get('nombre').touched" class="form-control-feedback">
                Este campo es requerido
            </div>


        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col-md-8">

            <input class="form-control" type="text" placeholder="Nombre" formControlName="apellido">
            <div *ngIf="clienteForm.get('apellido').errors?.required && clienteForm.get('apellido').touched" class="form-control-feedback">
                Este campo es requerido
            </div>


        </div>
    </div>






    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">

            <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo">
            <div *ngIf="clienteForm.get('correo').errors?.required && clienteForm.get('correo').touched" class="form-control-feedback">
                Este campo es requerido
            </div>
            <div *ngIf="clienteForm.get('correo').errors?.pattern" class="form-control-feedback">
                Formato incorrecto
            </div>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Teléfono</label>
        <div class="col-md-8">

            <input class="form-control" type="number" placeholder="Teléfono" formControlName="telefono">
            <div *ngIf="clienteForm.get('telefono').errors?.required && clienteForm.get('telefono').touched" class="form-control-feedback">
                Este campo es requerido
            </div>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary" [disabled]="clienteForm.invalid"> 
                Guardar
            </button>
        </div>
    </div>

    <!-- {{clienteForm.valid}} -->
    <!--  -->
</form>