<div class="container">

    <br>
    <div class="card-columns">

        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <img src="./assets/img/blank_product.png" width="700" height="200" class="card-img-top" alt="">
            </div>
            <div class="card-body">

                <div class="card-body text-center">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">$</p>
                    <p class="card-text">Descripcón</p>
                    <a href="#" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <img src="./assets/img/blank_product.png" width="700" height="200" class="card-img-top" alt="">
            </div>
            <div class="card-body">

                <div class="card-body text-center">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">$</p>
                    <p class="card-text">Descripcón</p>
                    <a href="#" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <img src="./assets/img/blank_product.png" width="700" height="200" class="card-img-top" alt="">
            </div>
            <div class="card-body">

                <div class="card-body text-center">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">$</p>
                    <p class="card-text">Descripcón</p>
                    <a href="#" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <img src="./assets/img/blank_product.png" width="700" height="200" class="card-img-top" alt="">
            </div>
            <div class="card-body">

                <div class="card-body text-center">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">$</p>
                    <p class="card-text">Descripcón</p>
                    <a href="#" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <img src="./assets/img/blank_product.png" width="700" height="200" class="card-img-top" alt="">
            </div>
            <div class="card-body">

                <div class="card-body text-center">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">$</p>
                    <p class="card-text">Descripcón</p>
                    <a href="#" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <img src="./assets/img/blank_product.png" width="700" height="200" class="card-img-top" alt="">
            </div>
            <div class="card-body">

                <div class="card-body text-center">
                    <h5 class="card-title">Titulo</h5>
                    <p class="card-text">$</p>
                    <p class="card-text">Descripcón</p>
                    <a href="#" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>

    </div>



</div>