<div class="container">
    <br>
    <div class="card-columns">
       
           
        <div class="card" style="width: 18rem;" *ngFor="let p of producto">
            <div class="card-header" >
                <h5 class="card-title">{{p.titulo}}</h5>
               
            </div>
            <div class="card-body text-center" >
             
                <img  *ngIf="p.imagenProducto == null " src="./assets/img/blank_product.png"  alt="" class="galeria_img">
                <img  *ngIf="p.imagenProducto != null" src="{{url}}{{p.imagenProducto}}"  alt="" class="galeria_img">
              
            </div>
                    <div class="card-footer text-center">
                      
                        <p class="card-text">$ {{p.precio}}</p>
                        <p class="card-text">{{p.descripcion}}</p>
                        <a href="#" class="btn btn-primary">Ver mas</a>
                    </div>
        </div>
  
    </div>
</div>

<!-- --------------------------------------------------------------------------------- -->

