<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="heading1">
            <h2 class="mb-0">
                <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
           Cliente  #1
          </button>
            </h2>
        </div>

        <div id="collapse1" class="collapse " aria-labelledby="heading1" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre:</li>
                    <li class="list-group-item">Apellido:</li>
                    <li class="list-group-item">Teléfono:</li>
                    <li class="list-group-item">Instagram:</li>
                    <li class="list-group-item">Correo Electrónico:</li>
                </ul>
            </div>
        </div>
    </div>


</div>