<div class="form-row col-md-12">
    <div class="container">
        <h4>{{page_title}} <small></small></h4>
        <hr>
        <form (ngSubmit)="guardarProduct(forma)" #forma="ngForm">



            <div class="form-group " [ngClass]="{'was-validated': titulo.errors?.required && titulo.touched}">
                <label for="titulo">Título</label>
                <input type="text" class="form-control " id="titulo" placeholder="Título del producto" name="titulo" [(ngModel)]="producto.titulo" #titulo="ngModel" required>
                <!--minlength="5" -->
                <div class="invalid-feedback">
                    <label>Este campo es requerido</label>
                </div>
            </div>
            <div class="form-row ">
                <div class="form-group col-md-6" [ngClass]="{'was-validated': categoria.errors?.required && categoria.touched}">

                    <label for="categoria">Categoría</label>
                    <select class="form-control " id="categoria" name="categoria" [(ngModel)]="producto.categoria" #categoria="ngModel" required>      
                            <option value="">Seleccione una categoria</option>                
                    <option *ngFor="let cat of catego" value={{cat.id}}> {{cat.descripcion}}</option> 
                    </select>
                    <div class="invalid-feedback">
                        <label>Este campo es requerido</label>
                    </div>
                </div>
                <div class="form-group col-md-6 " [ngClass]="{'was-validated': precio.errors?.required && precio.touched}">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control " id="precio" placeholder="$" name="precio" [(ngModel)]="producto.precio" #precio="ngModel" min="0" required>
                    <div class="invalid-feedback">
                        <label>Este campo es requerido</label>
                    </div>
                </div>
            </div>

            <div class="form-group  ">
                <label for="descripción">Descripción</label>
                <textarea class="form-control" id="descripción" rows="3" name="descripción" [(ngModel)]="producto.descripcion"></textarea>
            </div>

            <div class="form-group ">
                <label for="imagenProducto">Imagen</label>
                <input type="file" class="form-control-file" id="imagenProducto" name="imagenProducto" [(ngModel)]="producto.imagenProducto">
            </div>

            <div class="form-row">
                <div class="col-6 text-right">
                    <label for="disponible">¿Disponible para la venta?</label>
                </div>
                <div class="col-6">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="disponible" id="disponible" value="true" #status="ngModel" [(ngModel)]="producto.disponible">
                        <label class="form-check-label" for="disponible">Si</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="disponible" id="disponible" value="false" #status="ngModel" [(ngModel)]="producto.disponible">
                        <label class="form-check-label" for="disponible">No</label>
                    </div>

                </div>
            </div>

            <div class="form-group  ">
                <!-- <label class="col-2 col-form-label">&nbsp;</label> -->
                <!-- <div class="input-group col-md-10">                  
                </div> -->
                <button type="submit" class="btn btn-outline-primary" [disabled]="forma.invalid">
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>