<app-navbar></app-navbar>
<br>
<div class="container">
    <router-outlet></router-outlet>
</div>
<!-- <app-body class="container"></app-body> -->


<!-- <iframe allow="microphone;" width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/c59cfb7a-d3b6-469e-b546-bc4fac1e31bd">
    </iframe> -->

<!-- <div class="element">
    <a href="https://web.whatsapp.com/send?phone=5493795053426" class="boton estilo" target="_blank">
        <h1><i class="fa fa-comments"></i></h1>
    </a>

</div> -->

<div class="py-3">
    <app-footer></app-footer>
</div>